[submodule "python-flock"]
	path = flock
	url = ssh://git@github.com/fishface60/python-flock.git
	branch = master
[submodule "python-gitcache"]
	path = gitcache
	url = ssh://git@github.com/fishface60/python-gitcache.git
	branch = master
[submodule "python-git-chroot-safe"]
	path = git-chroot-safe
	url = ssh://git@github.com/fishface60/python-git-chroot-safe.git
	branch = master
